<!DOCTYPE html>
<html lang = "en">
	<head>
	    <meta charset = 'utf-8'>
		<title>Main</title>
	</head>

	<body>
		<p>CHECK YOUR WORTH.</p>
	   
	  <ol id="ques">
		</ol>
		<h2 id = 'score'></h2>

		<script>
			document.addEventListener('DOMContentLoaded',() =>{
				fetch('http://localhost:8000/QuesData')
				.then(response => response.json())
				.then(data => {
					
					data.forEach((paper) => {
						const ques = document.createElement('li');
						ques.innerHTML = paper.Question;
						document.querySelector('#ques').append(ques);

						//if(document.querySelector("#s").value === paper.Answer)
						//{
						//	document.querySelector('#h2').innerHTML = counter;
						//}
					
					})
					
				});
			});
		</script>
		

	</body>
</html>
